<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- 相当于连接池 -->
<session-factory>
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/day15
	</property>
	<property name="hibernate.connection.username">zp</property>
	<property name="hibernate.connection.password">a</property>

	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>

	<!-- 显示生产sql语句 -->
	<property name="hibernate.show_sql">true</property>
	<!-- 格式化方式显示sql -->
	<property name="hibernate.format_sql">true</property>


	<property name="hibernate.hbm2ddl.auto">update</property>

	<!-- 取消bena校验 -->
	<property name="javax.persistence.validation.mode">none</property>

	

</session-factory>
</hibernate-configuration>







